
<h1>New Game</h1>

<div class = "container" >
  <% @letters.each do |letter| %>
   <div class = "card">
   <h2><%= letter %></h2>
    </div>
  <% end %>
</div>
  <form action="/score" method="POST" data-turbo="false">
    <input type="text" name="choice">
    <input type="submit" value="Check!">
  </form>
